html, body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  background-color: #effaff;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}

p {
  font-size: 25px
}

.drop-file-preview__item__info > p {
  font-size: 10px
}

h2 {
  font-size: 40px
}

.App {
  text-align: center;
  /*border-style: solid;*/
  /*border-color: green;*/
  height: 100vw;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.Header {
  /*border-style: dotted;*/
  /*border-color: red;*/
  height: 10%;
  align-items: center;
}

.Data-container {
  /*border-style: dotted;*/
  /*border-color: blue;*/
  height:90%;
}

.sub-header {
  /*border-style: dotted;*/
  /*border-color: green;*/
  align-items: center;
  height: 20%;
  margin-top: 10px;
}

.sub-data-container {
  /*border-style: dotted;*/
  /*border-color: pink;*/
  height:80%;
}

.json-field-container {
  height:93%;
  /*border-style: dotted;*/
  /*border-color: black;*/
}

.send-data-container {
  /*border-style: dotted;*/
  /*border-color: green;*/
  overflow: hidden;
  height: 7%;
}

.btn {
  white-space:normal !important;
  padding: 0 !important;
  height: 100% !important;
  line-height: inherit !important;
  color: black !important;
  background-color: #FAFBFC !important;
  border-color: grey !important;
}

.actionButton:hover {
  background-color: #F3F4F6 !important;
  text-decoration: none !important;
  transition-duration: 0.1s !important;
}

.actionButton:disabled {
  background-color: #FAFBFC !important;
  border-color: grey !important;
  color: grey !important;
  cursor: default !important;
}


.container-fluid {
  background-color: #f5fcff;
  height: 90vh;
  width: 90vw;
  vertical-align: middle;
}

.data_column {
  /*border-style: dotted;*/
  /*border-color: green;*/
  height:100%;
}

.button_column {
  border-style: dotted;
  border-color: darkgoldenrod;
}

.centerButtonDiv {
  margin-top:auto;
  margin-bottom:auto;
}

.inner_column {
  /*border-style: solid;*/
  /*border-color: blue;*/
}

.big_inner_column {
  border-style: solid;
  border-color: #c5d3da;
  margin: auto;
  height:100%;
}

#uploadInvoice {
  height: 10%;
}

#dropBox {
  height: 20%;
}

#filesList {
  height: 65%;
  flex: 1 1 auto;
  min-height: 0;
}

.list-group {
  width: 100%;
}

#dragAndDropLabel {
  font-size: 10px;
}

#dragAndDrop {
  width: 100%;
  height: 100%;
}

.lkjDVC {
  max-width: 100% !important;
  min-width: 10% !important;
}

label {
  width: 100%;
  min-height: 100%;
  height: auto !important;
}

.scrollableTextBox {
  width: 100%;
  height: 100%;
}

.delete-button {
  cursor: pointer;
  float: right;
  position:relative;
  top:5px;
}

.delete-header-button {
  cursor: pointer;
  float: right;
  position:relative;
  top:10px;
}

.hvr-fade {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.delete-button:hover, .delete-button:focus, .delete-button:active,
.delete-header-button:hover, .delete-header-button:focus, .delete-header-button:active{
  color: red;
}

.settings-button:hover, .settings-button:focus, .settings-button:active {
  color: grey;
}

#spinnerDiv {
  margin: auto;
}

.uil-spin-css {
  display: grid;
  justify-content: center;
}

.hidden {
  display: block;
  visibility: hidden;
}

.visible {
  display: block;
  visibility: visible;
}

.settings-button {
  cursor: pointer;
}

.endpoint-configuration {
  width: 100%;
  height: 90%;
  padding: 0;
}

.url-options {
  border-style: solid;
  border-color: #c5d3da;
  height: 30%
}

.spacing {
  height: 5%
}

.headers {
  border-style: solid;
  border-color: #c5d3da;
  height: 60%;
}

.is_seperated {
  width:5vw;
  height:5vh;
}

input[type='checkbox'] {
  transform: scale(1.8);
}

.col-md-auto {
  display:flex;
  align-items:center;
}

.input-group {
  width: auto;
}

.shouldIncludeCheckBox {
  display:flex;
  align-items:center;
}

.form-check {
  margin-top: 8px;
  margin-left: 15px;
}
